* {
	margin: 0;
	padding: 0;
}

.first-box {
	background-color: lightgreen;
	width: 100%;
	height: 10vh;
}

h1 {
	padding: 17px;
}

h3 {
	padding-left: 10px;
	padding-top: 15px;
}

.dotted {
	border: 1px dotted black;
}

.rectangle-1 {
	display: inline-block;
	background-color: purple;
	width: 150px;
	height: 50px;
	border: 2px solid orange;
	margin: 10px;
}

.rectangle-2 {
	display: inline-block;
	background-color: blue;
	width: 50px;
	height: 50px;
	border: 2px solid orange;
	margin: 10px;
	-moz-box-shadow: 10px 10px 5px 6px rgb(56, 51, 51);
	-webkit-box-shadow: 10px 10px 5px 6px rgb(56, 51, 51);
	box-shadow: 2px 2px 1px 1px rgb(56, 51, 51);
}
.rectangle-3 {
	display: inline-block;
	background-color: salmon;
	width: 100px;
	height: 100px;
	border: 2px solid black;
	margin: 10px;
}

.circle-1 {
	display: block;
	height: 70px;
	width: 70px;
    border-radius: 50%;
    border: 2px solid black;
    margin-left: 12px;
    text-align: center;
}

.circle-2 {
	display: block;
	height: 80px;
	width: 80px;
    border-radius: 50%;
    border: 2px solid black;
    margin-left: 8px;
    text-align: center;
}
.circle-3 {
	display: block;
	height: 100px;
	width: 100px;
    border-radius: 50%;
    border: 2px solid black;
}

.everything{
display: grid;
}

.grid{
    grid-column: 1;
    grid-row: 1;
    margin: 10px;
}

.bigSquare{
    display: inline-block;
	background-color: lightyellow;
	width: 150px;
	height: 150px;
	border: 2px solid black;

}

.midCircle{
    display: inline-block;
	height: 120px;
	width: 120px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: green;
    margin: 10px;
}

.smallsquare{
    display: inline-block;
	background-color: red;
	width: 80px;
	height: 80px;
	border: 1px solid black;
    margin: 30px;
}

.text{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 70px;
    height: 80px;
    color: white;
    font-size: small;
}

.smallCircle{
    display: inline-block;
	height: 60px;
	width: 60px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: blue;
    margin: 30px;
}

.fish{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 60px;
    height: 60px;
}
   
